<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Civic-Watch</title>
    <link href="/stylesheets/output.css" rel="stylesheet">
</head>
<body class="bg-verde-claro font-display text-bege">

  <main class="flex justify-center">

    <!-- Seção Lateral Esquerda -->
    <div class="bg-verde-claro w-[25%] h-[100vh] fixed left-0 border-r-[.1px] border-marrom">

        <!-- Logo -->
        <div class="pt-[1rem] pl-[5rem]">

        <img src="/images/logo.svg" alt="Logo do Civic Watch" class="size-40">

        </div>

        <!-- Botões -->
        <li class="list-none flex flex-col mt-[5rem] bg-verde-escuro border-t-[.1px] border-marrom">

        <button class="flex items-center justify-items-start px-[5rem] py-[2rem] gap-[2rem] border-b-[.1px] border-marrom hover:bg-verde-claro hover:cursor-pointer" id="pagina-inicial">

          <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-house-icon lucide-house text-bege"><path d="M15 21v-8a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v8"/><path d="M3 10a2 2 0 0 1 .709-1.528l7-5.999a2 2 0 0 1 2.582 0l7 5.999A2 2 0 0 1 21 10v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"/></svg>

          <p>Página Inicial</p>

        </button>

        <button class="flex items-center justify-items-start px-[5rem] py-[2rem] gap-[2rem] border-b-[.1px] border-marrom hover:bg-verde-claro hover:cursor-pointer" id="favoritos">

          <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-heart-icon lucide-heart text-bege"><path d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z"/></svg>
          <p>Favoritos</p>

        </button>

        <button class="flex items-center justify-items-start px-[5rem] py-[2rem] gap-[2rem] border-b-[.1px] border-marrom hover:bg-verde-claro hover:cursor-pointer" id="perfil">

          <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user-icon lucide-user text-bege"><path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"/><circle cx="12" cy="7" r="4"/></svg>

          <p>Perfil</p>

        </button>

        <button class="flex items-center justify-items-start px-[5rem] py-[2rem] gap-[2rem] border-b-[.1px] border-marrom hover:bg-verde-claro hover:cursor-pointer" id="pesquisar">

          <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-search-icon lucide-search text-bege"><path d="m21 21-4.34-4.34"/><circle cx="11" cy="11" r="8"/></svg>

          <p>Explorar</p>

        </button>

        <% if (tipo === 'admin') { %>

        <button class="flex items-center justify-items-start px-[5rem] py-[2rem] gap-[2rem] border-b-[.1px] border-marrom hover:bg-verde-claro hover:cursor-pointer" id="admin">

          <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-shield-icon lucide-shield text-bege"><path d="M20 13c0 5-3.5 7.5-7.66 8.95a1 1 0 0 1-.67-.01C7.5 20.5 4 18 4 13V6a1 1 0 0 1 1-1c2 0 4.5-1.2 6.24-2.72a1.17 1.17 0 0 1 1.52 0C14.51 3.81 17 5 19 5a1 1 0 0 1 1 1z"/></svg>

          <p>Admin</p>

        </button>
        <% } %>

        </li>

    </div>

    <!-- Principal -->
    <div class="bg-verde-claro grow pl-[25%] h-[100vh] text-center">

      <!-- Perfil Político -->
        <div class=" bg-verde-escuro flex justify-between items-center p-[4rem] border-b-[.1px] border-marrom">

          <!-- Infos -->
            <div class="flex flex-col text-left gap-[2rem] text-2xl">

                <p><b>Cargo: </b><%= politico.cargo %></p>
                <p><b>Partido: </b><%= politico.partido %></p>
                <p><b>Estado/Cidade: </b><%= politico.estado %>/<%= politico.municipio %></p>

            </div>

            <!-- Foto e Nome -->
            <div class="text-3xl">

                <svg xmlns="http://www.w3.org/2000/svg" width="16rem" height="16rem" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-user-icon lucide-circle-user text-bege"><circle cx="12" cy="12" r="10"/><circle cx="12" cy="10" r="3"/><path d="M7 20.662V19a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v1.662"/></svg>

                <p><b><%= politico.nome %></b></p>

            </div>
            
            <% if(politico.favoritou) { %>

            <!-- Curtida -->
            <button class="hover:cursor-pointer" name="favoritar_politico" data-id="<%= politico.id %>">

              <svg xmlns="http://www.w3.org/2000/svg" width="6rem" height="6rem" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-heart-icon lucide-heart text-red-700 fill-red-700"><path d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z"/></svg>

            </button>

            <% } else { %>

              <!-- Curtida -->
            <button class="hover:cursor-pointer" name="favoritar_politico" data-id="<%= politico.id %>">

              <svg xmlns="http://www.w3.org/2000/svg" width="6rem" height="6rem" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-heart-icon lucide-heart text-bege"><path d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z"/></svg>

            </button>

            <% } %>

        </div>

        <!-- Título Propostas -->
        <div>

          <h1 class="text-5xl font-bold justify-center p-[2rem]">Propostas</h1>

        </div>

        <% propostas.forEach(p => { %>

          <!-- Proposta -->
          <div class="bg-verde-escuro flex flex-col p-[2rem] gap-[1rem] border-t-[.1px] border-marrom hover:cursor-pointer" name="proposta" data-id="<%= p.id %>">

                    <!-- Político e Título -->
                    <div class="flex items-center gap-[2rem]">

                      <!-- Político -->
                      <button class="flex items-center gap-[2rem] hover:cursor-pointer" name="politico" data-id="<%= p.politico_id %>">

                        <!-- Foto de Perfil -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="8rem" height="8rem" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-user-icon lucide-circle-user"><circle cx="12" cy="12" r="10"/><circle cx="12" cy="10" r="3"/><path d="M7 20.662V19a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v1.662"/></svg>

                        <!-- Dados -->
                        <div class="flex flex-col items-start gap-[.5rem]">

                            <p class="mb-[1rem] text-2xl"><b>Nome: </b><%= politico.nome %></p>
                            <p><b>Cargo: </b><%= politico.cargo %></p>
                            <p><b>Partido: </b><%= politico.partido %></p>

                        </div>

                      </button>

                        <!-- Título -->
                      <p class="text-3xl font-bold pl-[8rem]"><%= p.titulo %></p>

                    </div>

                    <!-- Conteúdo -->
                    <div>

                        <p class="text-left text-2xl"><%= p.descricao %></p>

                    </div>

                    <!-- Botões -->
                    <div class="flex items-center justify-between">

                        <!-- Comentário -->
                        <div class="flex gap-[2rem]">

                        <input type="text" placeholder="Comentar" class="bg-verde-claro pl-[1rem] py-[1rem] outline-0 rounded-md w-[25rem]">
            
                        <button class="bg-marrom font-bold px-[2rem] py-[1rem] rounded-4xl hover:cursor-pointer">Postar</button>

                        </div>
                        
                        <!-- Avaliação e Curtida -->
                        <div class="flex gap-[2rem]">

                        <% if (p.avaliou === 1) { %>
                        <!-- Avaliação -->
                        <div class="bg-verde-claro flex items-center gap-[1rem] rounded-4xl px-[1rem] py-[.5rem]">
            
                            <div class="items-center">
            
                            <button class="hover:cursor-pointer">
                
                                <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-star-icon lucide-star text-bege"><path d="M11.525 2.295a.53.53 0 0 1 .95 0l2.31 4.679a2.123 2.123 0 0 0 1.595 1.16l5.166.756a.53.53 0 0 1 .294.904l-3.736 3.638a2.123 2.123 0 0 0-.611 1.878l.882 5.14a.53.53 0 0 1-.771.56l-4.618-2.428a2.122 2.122 0 0 0-1.973 0L6.396 21.01a.53.53 0 0 1-.77-.56l.881-5.139a2.122 2.122 0 0 0-.611-1.879L2.16 9.795a.53.53 0 0 1 .294-.906l5.165-.755a2.122 2.122 0 0 0 1.597-1.16z"/></svg>
                
                            </button>
                
                            <button class="hover:cursor-pointer">
                
                                <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-star-icon lucide-star text-bege"><path d="M11.525 2.295a.53.53 0 0 1 .95 0l2.31 4.679a2.123 2.123 0 0 0 1.595 1.16l5.166.756a.53.53 0 0 1 .294.904l-3.736 3.638a2.123 2.123 0 0 0-.611 1.878l.882 5.14a.53.53 0 0 1-.771.56l-4.618-2.428a2.122 2.122 0 0 0-1.973 0L6.396 21.01a.53.53 0 0 1-.77-.56l.881-5.139a2.122 2.122 0 0 0-.611-1.879L2.16 9.795a.53.53 0 0 1 .294-.906l5.165-.755a2.122 2.122 0 0 0 1.597-1.16z"/></svg>
                
                            </button>
                
                            <button class="hover:cursor-pointer">
                
                                <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-star-icon lucide-star text-bege"><path d="M11.525 2.295a.53.53 0 0 1 .95 0l2.31 4.679a2.123 2.123 0 0 0 1.595 1.16l5.166.756a.53.53 0 0 1 .294.904l-3.736 3.638a2.123 2.123 0 0 0-.611 1.878l.882 5.14a.53.53 0 0 1-.771.56l-4.618-2.428a2.122 2.122 0 0 0-1.973 0L6.396 21.01a.53.53 0 0 1-.77-.56l.881-5.139a2.122 2.122 0 0 0-.611-1.879L2.16 9.795a.53.53 0 0 1 .294-.906l5.165-.755a2.122 2.122 0 0 0 1.597-1.16z"/></svg>
                
                            </button>
                
                            <button class="hover:cursor-pointer">
                
                                <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-star-icon lucide-star text-bege"><path d="M11.525 2.295a.53.53 0 0 1 .95 0l2.31 4.679a2.123 2.123 0 0 0 1.595 1.16l5.166.756a.53.53 0 0 1 .294.904l-3.736 3.638a2.123 2.123 0 0 0-.611 1.878l.882 5.14a.53.53 0 0 1-.771.56l-4.618-2.428a2.122 2.122 0 0 0-1.973 0L6.396 21.01a.53.53 0 0 1-.77-.56l.881-5.139a2.122 2.122 0 0 0-.611-1.879L2.16 9.795a.53.53 0 0 1 .294-.906l5.165-.755a2.122 2.122 0 0 0 1.597-1.16z"/></svg>
                
                            </button>
                
                            <button class="hover:cursor-pointer">
                
                                <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-star-icon lucide-star text-bege"><path d="M11.525 2.295a.53.53 0 0 1 .95 0l2.31 4.679a2.123 2.123 0 0 0 1.595 1.16l5.166.756a.53.53 0 0 1 .294.904l-3.736 3.638a2.123 2.123 0 0 0-.611 1.878l.882 5.14a.53.53 0 0 1-.771.56l-4.618-2.428a2.122 2.122 0 0 0-1.973 0L6.396 21.01a.53.53 0 0 1-.77-.56l.881-5.139a2.122 2.122 0 0 0-.611-1.879L2.16 9.795a.53.53 0 0 1 .294-.906l5.165-.755a2.122 2.122 0 0 0 1.597-1.16z"/></svg>
                
                            </button>
            
                            </div>
            
                            <div class="items-center h-[39px]">
            
                            <button class="hover:cursor-pointer">
            
                                <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-send-horizontal-icon lucide-send-horizontal text-bege"><path d="M3.714 3.048a.498.498 0 0 0-.683.627l2.843 7.627a2 2 0 0 1 0 1.396l-2.842 7.627a.498.498 0 0 0 .682.627l18-8.5a.5.5 0 0 0 0-.904z"/><path d="M6 12h16"/></svg>
            
                            </button>
            
                            </div>
            
                        </div>

                        <% } else { %>

                        <!-- Avaliado -->
                        <div class="bg-verde-claro flex items-center gap-[1rem] rounded-4xl px-[1rem] py-[.5rem]">
            
                            <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-star-icon lucide-star text-bege fill-bege"><path d="M11.525 2.295a.53.53 0 0 1 .95 0l2.31 4.679a2.123 2.123 0 0 0 1.595 1.16l5.166.756a.53.53 0 0 1 .294.904l-3.736 3.638a2.123 2.123 0 0 0-.611 1.878l.882 5.14a.53.53 0 0 1-.771.56l-4.618-2.428a2.122 2.122 0 0 0-1.973 0L6.396 21.01a.53.53 0 0 1-.77-.56l.881-5.139a2.122 2.122 0 0 0-.611-1.879L2.16 9.795a.53.53 0 0 1 .294-.906l5.165-.755a2.122 2.122 0 0 0 1.597-1.16z"/></svg>
            
                            <p class="font-bold text-2xl"><%= p.media_avaliacoes %></p>
            
                        </div>

                        <% } %>
                        
                        <% if (p.favoritou === 1) { %>
                        <!-- Curtida -->
                        <button class="hover:cursor-pointer" name="favoritar" data-id="<%= p.id %>">
                
                            <svg xmlns="http://www.w3.org/2000/svg" width="3rem" height="3rem" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-heart-icon lucide-heart text-red-700 fill-red-700"><path d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z"/></svg>
                
                        </button>

                        <% } else { %>

                            <!-- Curtida -->
                        <button class="hover:cursor-pointer" name="favoritar" data-id="<%= p.id %>">
                
                            <svg xmlns="http://www.w3.org/2000/svg" width="3rem" height="3rem" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-heart-icon lucide-heart text-bege"><path d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z"/></svg>
                
                        </button>

                        <% } %>

                        </div>

                    </div>

          </div>

        <% }); %>

    </div>

  </main>

  <script src="/javascripts/secao_lateral.js"></script>
  <script src="/javascripts/proposta.js"></script>
  <script src="/javascripts/politico.js"></script>

</body>
</html>